<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB3QGLAKvYRoLjrJdIW_dO9m7QL_I102fo</string>
	<key>GCM_SENDER_ID</key>
	<string>804874830676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.familySocial</string>
	<key>PROJECT_ID</key>
	<string>sofam-de5b9</string>
	<key>STORAGE_BUCKET</key>
	<string>sofam-de5b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804874830676:ios:0d2b6267c27c7cbe433ec1</string>
</dict>
</plist>